<div class="row pt-4">
    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label>choose movies</mat-label>
            <mat-select (selectionChange)="onSelect()" [(ngModel)]="selectedValue" name="favorite">
                <mat-option value="all">All</mat-option>
                <mat-option value="favorite">Favorite</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6">
        <input placeholder="search for movie..." [(ngModel)]="textSearch" type="text" class="form-control" (input)="onSearchChange()">
    </div>

    <ng-container *ngIf="selectedValue == 'all'">
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex" *ngFor="let movie of obs | async;let i = index">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center clickable" [routerLink]="['/movie',movie.id]">{{movie.name}}</h1>
                    <a class="d-flex justify-content-center">
                        <i [ngStyle]="{color : movie.isFavorite == false ? '#ddd' : '#ffd700'}" (click)="onFavorite(movie.id)" class="fa-solid fa-star clickable"></i>
                    </a>
                    <div>
                        <div class="text-center grow-2 pt-3 m-auto">
                            <img [src]="movie.imagePath ? movie.imagePath : '/assets/image/NWC-001061-402.jpeg'"
                                class="rounded-circle w100 img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 *ngIf="movies.length == 0">No movies</h3>
    </ng-container>

    <mat-paginator *ngIf="movies.length != 0 && selectedValue == 'all'" [pageSizeOptions]="[4, 10, 25, 100]"></mat-paginator>

    <ng-container *ngIf="selectedValue == 'favorite'">
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex" *ngFor="let movie of obs | async;let i = index">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center clickable" [routerLink]="['/movie',movie.id]">{{movie.name}}</h1>
                    <div>
                        <div class="text-center grow-2 pt-3 m-auto">
                            <img [src]="movie.imagePath ? movie.imagePath : '/assets/image/NWC-001061-402.jpeg'"
                                class="rounded-circle w100 img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 *ngIf="favoriteMovies.length == 0">No Favorite Movies</h3>
    </ng-container>

    <mat-paginator *ngIf="favoriteMovies.length != 0 && selectedValue == 'favorite'" [pageSizeOptions]="[4, 10, 25, 100]"></mat-paginator>
</div>