<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 d-flex" *ngFor="let movie of movies;let i = index">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center clickable" [routerLink]="['/movie',movie.id]">{{movie.name}}</h3>
                <a class="d-flex justify-content-center">
                    <i #el (click)="onFavorite(movie.id, el)" class="fa-solid fa-star clickable"></i>
                </a>
                <div>
                    <div class="text-center grow-2 pt-3 m-auto">
                        <img [src]="movie.imagePath ? movie.imagePath : '/assets/image/NWC-001061-402.jpeg'"
                            class="rounded-circle w100 img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>